.main{
    text-align: center;
}
.red-text {
    color: red;
  }
  
  .blue-text {
    color: blue;
  }
.button {
    margin-left: 20px;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    display: block;
}
#bc{
    background-color: aliceblue;
    width: 450px;
    height: 200px;
    margin-left: 450px;
    margin-right: auto;
    margin-bottom: 0%;
    margin-top: 15%;
    padding-top: 10px;
    padding-bottom: 50px;
    display: block;
}

